@font-face {
  font-family: arimo;
  src: url(fonts/Arimo-Regular.eot?#iefix) format("embedded-opentype");
  src: url(fonts/Arimo-Regular.ttf) format("truetype"); }

@font-face {
  font-family: arimo-bold;
  src: url(fonts/Arimo-Bold.ttf); }
