.textarea-field {
    width: 100%;
    resize: none;
}

.pseudoTextArea {
   width: 100%;
    padding: 0 5px;
    word-wrap: break-word;
    border: 1px solid #cacaca;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: none;
    text-align: start;
    background-color: white;
    white-space: pre-wrap;
    height: auto;
}
@media print {
    .pseudoTextArea {
        display: inline-block; 
    }   
    .textarea-field{
        display: none;
    }
}
